<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
    <header>
      <th:block th:include="~{/fragments/header}"></th:block>
  
      </header>

    <div class="container" align="center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    <form class="form-horizontal" th:action="@{/article/add}" method="POST">
                        <fieldset>
                            <legend class="text-center">Add an article</legend>



                            <!-- Name input-->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="name">Name</label>
                                <div class="col-md-9">
                                    <input id="name" name="name" type="text" placeholder="Name" class="form-control">
                                </div>
                            </div>

                            <!-- URL input-->

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="picture">Picture URL</label>
                                <div class="col-md-9">
                                    <input id="picture" name="picture" type="text" placeholder="Picture URL" class="form-control">
                                </div>
                            </div>


                            <!-- Text body -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="textContent">Text content</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="textContent" name="textContent" placeholder="Place text here..." rows="5"></textarea>
                                </div>
                            </div>

                            <!-- Form actions -->
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>



<footer>
  <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>